body {
    background: var(--n50);
}
header {
    background: var(--n900);
    margin-bottom: 16px;
}

.register,
.login {
    padding: 16px 16px 12px 16px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin: 12px 0;
}

.sxmt {
    margin-top: 8px;
}

@media screen and (min-width: 655px) {
    .container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
    .xlmt {
        margin-top: 31.5px; /* OUI !! C'est moche mais c'est comme ça */
    }
}