/* FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');
/* TITLE */
h1,h2,h3,h4,h5,h6 {
    font-family: 'Sora',sans-serif;
    font-weight: 900;
}
/* TEXT */
p,
label,
span {
    font-family: 'Inter',sans-serif;
    font-size: 16px;
    color: var(--n900);
}
.sora {
    font-family: 'Sora';
}

/* FONT-SIZE */

/* Text */
.text-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.text-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.text-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.text-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.text-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.text-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.text-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.text-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.text-5xl {
    font-size: 3rem;
    line-height: 3rem;
}
.text-6xl {
    font-size: 3.75rem;
    line-height: 3.75rem;
}
.text-7xl {
    font-size: 4.5rem;
    line-height: 4.5rem;
}
.text-8xl {
    font-size: 6rem;
    line-height: 6rem;
}
.text-9xl {
    font-size: 8rem;
    line-height: 8rem;
}
/* Title */

.title-xs {
    font-size: 0.75rem;
    line-height: 1rem;
}
.title-sm {
    font-size: 0.875rem;
    line-height: 1.25rem;
}
.title-base {
    font-size: 1rem;
    line-height: 1.5rem;
}
.title-lg {
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.title-xl {
    font-size: 1.25rem;
    line-height: 1.75rem;
}
.title-2xl {
    font-size: 1.5rem;
    line-height: 2rem;
}
.title-3xl {
    font-size: 1.875rem;
    line-height: 2.25rem;
}
.title-4xl {
    font-size: 2.25rem;
    line-height: 2.5rem;
}
.title-5xl {
    font-size: 3rem;
    line-height: 3rem;
}
.title-6xl {
    font-size: 3.75rem;
    line-height: 3.75rem;
}
.title-7xl {
    font-size: 4.5rem;
    line-height: 4.5rem;
}
.title-8xl {
    font-size: 6rem;
    line-height: 6rem;
}
.title-9xl {
    font-size: 8rem;
    line-height: 8rem;
}

/* font-style  */
.bold {
    font-weight: 700;
}
.medium {
    font-weight: 500;
}
.extra-bold {
    font-weight: 900;
}
.underline {
    text-decoration: underline 1.5px;
}
.cap {
    text-transform: capitalize;
}
.maj {
    text-transform: uppercase;
}