body .main {
    padding: 24px 16px 0 16px  ;
}

.banner {
    display: block;
    text-align: center;
    margin-top: 16px;
}

.result {
    margin-top: 16px;
}
.result span{
    margin-left: 8px;
}
/* .table */
.table {
    margin-top: 8px;
}
.theader {
    font-family: 'Inter';
    font-size: 16px;
    font-weight: 600;
}
.trow {
    display: grid;
    padding: 8px 4px;
    background: inherit;
    grid-template-columns: 1fr 56px;
}
.tbody {
    margin-top: 8px;
}
.tbody > a:nth-child(odd) {
    background: var(--n200);
}
.tbody > a:nth-child(even) {
    background: var(--n400);
}

.table a:hover {
    font-weight: 600;
}

.tid {
    display: none;
}

.tbody .trow > *{
    font-size: 14px;
}

.tbody .ttype {
    width: 56px;
    padding: 4px 8px;
    border-radius: 4px;
    text-align: left;
    background: var(--p200);
    color: var(--p600);
}
label.newgame {
    margin-left: 4px;
}
@media screen and (min-width: 500px) {
    .trow {
        grid-template-columns: 1fr 100px 56px;
    }
    .banner {
        display: none;
    }
    .tid {
        display: block;
    }
}