body {
    background: var(--n900);
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.intro {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 48px 20px;
    background: var(--n50);
}
.intro_txt {
    min-width: 375px;
    max-width: 765px;
}
.intro h1 {
    margin-bottom: 8px;
}

.intro p {
    margin-bottom: 30px;
}


.illu {
    justify-content: space-around;
    padding: 24px 16px;
}

.stats {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px 70px;
    background: var(--p400);
}

.stat {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.gstatus {
    margin-bottom: 16px;
}
.icon {
    background: var(--n300);
    width: 100px;
    height: 100px;
    border-radius: 24px;
    margin-bottom: 8px;
}

.icon--margin {
    margin: 16px 0;

}

.faq {
    background: var(--n50);
    padding: 40px;
}

.faq-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.questions {
    margin: 16px 0;
    padding: 10px;
    width: 375px;
}

.text {
    text-align: center;
}


/* Slider auto */
.slider_auto {
    overflow-x: hidden;
}

.slider__auto {
    gap: 8px;
    display: flex;
    width: 100%;

    width: calc(150px * 8);
    display: flex;
    animation: scroll 10s linear infinite;
    justify-content: space-between;
}

@keyframes scroll {
    0% {
        transform: translateX(0px);
    }

    100% {
        transform: translateX(calc(-108px * 10));
    }
}

@media screen and (min-width: 830px) {
    .intro {
        padding: 80px;
    }
    .illu {
        padding: 16px;
        
    }
    .cover {
        width: 180px;
        height: 270px;
    }
    .cover img {
        width: 180px;
        height: 270px;
    }
    .stats {
        padding: 80px 70px;
        flex-direction: row;
    }
    .faq {
        padding: 80px 0;
    }
    .questions {
        width: 700px;
    }
}