body {
    margin: 20px;
}
.title {
    margin-bottom: 16px;
}
.box {
    margin:20px;padding:10px;border:var(--p300) solid 3px;
}
.box-btn {
    margin: 20px;
}
button {
    margin: 8px 16px 8px 0;
}